<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styleTemplates/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-dark py-3 text-center">
        <h1 class="text-success">
            <a href="/main" class="text-indigo-400 hover:underline">Vault</a>
        </h1>
        <nav class="nav justify-content-center">
            <a class="nav-link text-white" href="/main">Home</a>
            <a class="nav-link text-white" href="/profile">Profile</a>
            <a class="nav-link text-white" href="/about">About</a>
            <a class="nav-link text-white" href="/contact">Contact</a>
        </nav>
    </header>

    <main class="container my-5">
        <h2>About Us</h2>
        <p>Welcome to CS2 Marketplace - your ultimate destination for trading CS2 skins!</p>
    </main>
</body>
</html>