<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{.CSRFToken}}">
    <title>{{ .Username }}'s Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="bg-gray-900 text-white">

<header class="bg-gray-800 py-3 text-center">
    <h1 class="text-green-400 text-3xl font-bold">
        <a href="/main" class="text-indigo-400 hover:underline">Vault</a>
    </h1>
    <nav class="flex justify-center space-x-6 mt-3">
        <a class="text-white hover:text-indigo-400" href="/main">Home</a>
        <a class="text-white hover:text-indigo-400" href="/profile">Profile</a>
        <a class="text-white hover:text-indigo-400" href="/about">About</a>
        <a class="text-white hover:text-indigo-400" href="/contact">Contact</a>
    </nav>
</header>

<div class="container mx-auto my-8 p-4 text-center">
    <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold">{{ .Username }}</h1>
        <p class="text-gray-300"><strong>Steam ID:</strong> {{ .SteamID }}</p>
        <p class="text-gray-300"><strong>Email:</strong> {{ .Email }}</p>
        <p class="text-gray-300"><strong>Balance:</strong> ${{ .Balance }}</p>
    </div>
    
    <h2 class="text-3xl font-bold mt-6">Owned Skins</h2>
    <div id="item-container" class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-6">
        {{ range .Skins }}
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <img src="/img/{{ .Image }}" class="w-full h-48 object-cover rounded-lg" alt="{{ .Name }}">
            <div class="text-center mt-4">
                <h5 class="text-xl font-bold">{{ .Name }}</h5>
                <p class="text-gray-300">Price: ${{ .Price }}</p>
                <form action="/sell-skin" method="POST">
                    <input type="hidden" name="skinID" value="{{.ID}}">
                    <button type="submit" class="mt-4 w-full p-3 bg-red-600 rounded-lg hover:bg-red-700 transition">Sell</button>
                </form>
            </div>
        </div>
        {{ else }}
        <p class="text-center text-gray-400">No skins owned.</p>
        {{ end }}
    </div>
</div>

<div class="text-center mt-6">
    <form action="/logout" method="post">
        <button type="submit" class="w-full max-w-xs p-3 bg-red-600 rounded-lg hover:bg-red-700 transition">Log out</button>
    </form>
</div>
<script>
    document.querySelectorAll("form[action='/sell-skin']").forEach(form => {
    form.addEventListener("submit", function (event) {
        event.preventDefault(); 

        const formData = new FormData(form);
        const data = { skinID: formData.get("skinID") };
        console.log("Sending data:", [...formData]); // Проверка значений
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content'); 

        fetch(form.action, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRF-Token": csrfToken
            },
            body: JSON.stringify(data)
        })
        .then(response => response.text())
        .then(data => {
            console.log("Server response:", data);
            try {
                const jsonData = JSON.parse(data);
                alert(jsonData.message);
            } catch (error) {
                console.error("Response error JSON:", error);
                alert("Confirm action", data, error);
            }
        })
        .catch(error => console.error("Error:", error));
    });
});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>
